{% extends "base.html.twig" %}

{%  block body %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Age</th>
            <th>Visible</th>
            <th>Créé le</th>
            <th>Couleur</th>
        </tr>
        {% for person in personnes %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.visible }}</td>
                <td>{{ person.createdAt|date("m/d/Y") }}</td>
                <td>{{ person.color }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}